{% block navi %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <ul class="navbar-nav ml-auto">

            <li>
                <a href="{{ path('product_product') }}" class="" title="{{ 'product' }}">Example Product</a>
            </li>
            <li>
                <a href="{{ url('product_list') }}" class="" title="{{ 'product list' }}">Products</a>
            </li>
            <li>
                <a href="{{ url('product_import_make') }}" class="" title="{{ 'product import' }}">Import</a>
            </li>
            <li>
                <a href="{{ url('user_user') }}" class="" title="{{ 'user' }}">Example User</a>
            </li>
            <li>
                <a href="{{ url('user_list') }}" class="" title="{{ 'user list' }}">Users</a>
            </li>
            <li>
                <a href="{{ path('category_category') }}" class="" title="{{ 'category' }}">Example Category</a>
            </li>
            <li>
                <a href="{{ url('category_list') }}" class="" title="{{ 'category list' }}">Categories</a>
            </li>

        </ul>
    </nav>

{% endblock %}



