{% extends 'base.html.twig' %}

{% block title %}User details{% endblock %}

{% block body %}

    <ul>
        <h1>Pleas  add new user</h1>

        {{ form_start(form) }}

        <li>
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </li>
        <li>
            {{ form_label(form.password) }}
            {{ form_widget(form.password) }}
        </li>
        <li>
            {{ form_label(form.userrole) }}
            {{ form_widget(form.userrole) }}
        </li>
        <br>
        {{ form_widget(form.save) }}

        {{ form_end(form) }}
    </ul>


{% endblock %}